$primary-color: #023569;        /* Dark Blue */
$secondary-color: #03376c;      /* Navy Blue */
$background-color: #d1dde7;     /* Light Blue */
$text-color: #020202;           /* Black */
$accent-color: #ae4133;         /* Red */
$footer-background: #230d12;    /* Dark Brown */
$footer-text: #a5b9cc;          /* Light Gray */