/* App.css */

/* Define custom colors based on the provided palette */
:root {
    --primary-color: #ffffff;        /* Dark Blue */
    --secondary-color: #023566;      /* Navy Blue */
    --background-color: #173538;     /* Light Blue */
    --text-color: #ffffff;           /* Black */
    --accent-color: #ae4133;         /* Red */
    --footer-background: #230d12;    /* Dark Brown */
    --footer-text: #a5b9cc;          /* Light Gray */
}

